node_modules
terraform/.terraform.lock.hcl
terraform/errored.tfstate
terraform/.terraform/terraform.tfstate
terraform/.terraform/providers/registry.terraform.io/hashicorp/google/3.82.0/darwin_amd64/terraform-provider-google_v3.82.0_x5
